@import url(../fonts/thsarabunnew.css);

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 54px;
    margin-bottom: 60px; /* allocate footer margin */
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.footer {
    /* No media query for Extra small devices (portrait phones, less than 576px) */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* fixed height of the footer */
}

.carousel-item {
    height: 35vh;
    min-height: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.thai-font {
    font-family: 'THSarabunNew', sans-serif;
    font-size: 1.2rem;
}

.jumbotron {
    background-image: url("../images/jumbotron-01.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-text {
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 170%;
}