@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(../fonts/thsarabunnew.css);

/* Layout */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Nanum Gothic", sans-serif;
    padding-top: 54px;
    margin-bottom: 87px; /* allocate footer margin for xs */
}

@media (min-width: 992px) {
    body {
        padding-top: 70px;
    }
}

.footer {
    /* No media query for Extra small devices (portrait phones, less than 576px) */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 87px; /* fixed height of the footer for xs */
    font-size: 10pt;
}

@media (min-width: 540px) {
    /* Small devices (landscape phones, 576px and up) */
    body {
        margin-bottom: 87px;
    }

    .footer {
        height: 87px;
    }
}

@media (min-width: 720px) {
    /* Medium devices (tablets, 768px and up) */
    body {
        margin-bottom: 63px;
    }

    .footer {
        height: 63px;
    }
}

.outer-footer {
    background-color: #D6ECFA;
}

.outer-footer, .outer-footer a {
    color: #1D2731;
}

.outer-footer h5, .outer-footer h5 a {
    color: #1D2731;
}

.base-footer {
    color: #1D2731;
    background-color: #CADBE9;
}

.jumbotron {
    background-image: url("../images/jumbotron-01.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-text {
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 170%;
}

.button-youtube {
    color: #ff0000;
}

.button-facebook {
    color: #3b5998;
}

.button-twitter {
    color: #00aced;
}

.button-github {
    color: #24292e;
}

/* Common */
.thai-font {
    font-family: 'THSarabunNew', sans-serif;
    font-size: 1.2rem;
}

.paragraph {
    word-wrap: normal;
    white-space: normal;
    word-break: keep-all;
    line-height: 160%;
}

.no-bullet {
    list-style-type: none;
}

.sns-login-button {
    width: 36px;
    height: 36px;
    padding-left: 0;
    padding-right: 0;
}

/* Help App */
.help-post h1, .help-post h2, .help-post h3, .help-post h4, .help-post h5 {
    padding-bottom: 0.5rem;
    border-bottom: #24292e 1px solid;
}

.help-post ul, .help-post ol {
    padding-left: 1.5rem;
}

.help-post ul li, .help-post ol li {
    margin-bottom: 0.3rem;
}

/* Book App */
.book-page .toc {
    border-radius: 5px;
    background-color: #D6ECFA;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.book-page .toc ul {
    margin-bottom: 0;
}

.book-page h1, .book-page h2, .book-page h3, .book-page h4, .book-page h5, .book-page h6 {
    padding-bottom: 0.5rem;
    border-bottom: #24292e 1px solid;
}

.book-page h1 {
    font-size: 1.8rem;
}

.book-page h2 {
    font-size: 1.7rem;
}

.book-page h3 {
    font-size: 1.6rem;
}

.book-page h4 {
    font-size: 1.5rem;
}

.book-page h5 {
    font-size: 1.4rem;
}

.book-page h6 {
    font-size: 1.3rem;
}

.book-page table {
    margin-bottom: 0.5rem;
}

.book-page table th, .book-page table td {
    padding: 0.5rem 1rem;
}

.book-page #content1 ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.book-page #content2 ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.youtube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}