@import url(../fonts/thsarabunnew.css);

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 54px;
    margin-bottom: 245px; /* allocate footer margin for xs */
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.footer {
    /* No media query for Extra small devices (portrait phones, less than 576px) */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 245px; /* fixed height of the footer for xs */
}

@media (min-width: 540px) {
    /* Small devices (landscape phones, 576px and up) */
    body {
        margin-bottom: 225px;
    }

    .footer {
        height: 145px;
    }
}

@media (min-width: 720px) {
    /* Medium devices (tablets, 768px and up) */
    body {
        margin-bottom: 153px;
    }

    .footer {
        height: 145px;
    }
}

.outer-footer {
    background-color: #D6ECFA;
}

.outer-footer, .outer-footer a {
    color: #1D2731;
}

.outer-footer h5, .outer-footer h5 a {
    color: #1D2731;
}

.base-footer {
    color: #1D2731;
    background-color: #CADBE9;
}

.thai-font {
    font-family: 'THSarabunNew', sans-serif;
    font-size: 1.2rem;
}

.jumbotron {
    background-image: url("../images/jumbotron-01.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron-text {
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 170%;
}

.button-youtube {
    color: #ff0000;
}

.button-facebook {
    color: #3b5998;
}

.button-twitter {
    color: #00aced;
}

.button-github {
    color: #24292e;
}

.help-post {
    word-wrap: normal;
    white-space: normal;
    word-break: keep-all;
    line-height: 160%;
}

.help-post h1, .help-post h2, .help-post h3, .help-post h4, .help-post h5 {
    padding-bottom: 0.5rem;
    border-bottom: #24292e 1px solid;
}

.help-post ul, .help-post ol {
    padding-left: 1.5rem;
}

.help-post ul li, .help-post ol li {
    margin-bottom: 0.3rem;
}