{% extends "rakmai/base.html" %}
{% load i18n %}
{% load voca_tags %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                {% block main_content %}{% endblock %}
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-12 col-md-4">
                <!-- Categories Widget -->
                <div class="card my-2 my-md-4">
                    <h5 class="card-header">{% trans "entry categories" %}</h5>
                    <div class="card-body">
                        <ul class="pl-3 mb-0">
                            {% voca_categories %}
                                <li class="mb-1">
                                    <a href="{% url 'voca:entry-category' category.slug %}">{{ category.title }}</a>
                                </li>
                                {% if not category.is_leaf_node %}
                                    <ul class="pl-3">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            {% end_voca_categories %}
                        </ul>
                    </div>
                </div>

                <!-- Level Widget -->
                <div class="card my-2 my-md-4">
                    <h5 class="card-header">난이도</h5>
                    <div class="card-body">
                        <ul class="pl-3 mb-0">
                            <li class="mb-1">
                                <a href="{% url 'voca:entry-level-list' 'beginner' %}">
                                    {% trans "beginner" %}
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="{% url 'voca:entry-level-list' 'intermediate' %}">
                                    {% trans "intermediate" %}
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="{% url 'voca:entry-level-list' 'advanced' %}">
                                    {% trans "advanced" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Textbook Widget -->
                <div class="card my-2 my-md-4">
                    <h5 class="card-header">
                        <a href="{% url 'voca:textbook-list' %}">
                            {% trans "textbooks" %}
                        </a>
                    </h5>
                    <div class="card-body">
                        <ul class="pl-3 mb-0">
                            {% get_textbooks as textbooks %}
                            {% for textbook in textbooks %}
                                <li class="mb-1">
                                    <a href="">
                                        {{ textbook.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li class="mb-1">
                                    {% trans "No textbook" %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}