{% extends "rakmai/base.html" %}
{% load i18n %}
{% load voca_tags %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                {% block main_content %}{% endblock %}
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-12 col-md-4">
                {% if user.is_superuser %}
                    <div class="my-2 my-md-4">
                        <a href="{% url 'admin:voca_entry_add' %}" class="btn btn-primary btn-sm mt-1">
                            <i class="fa fa-plus fa-fw"></i>
                            추가
                        </a>
                    </div>
                {% endif %}

                <!-- Level Widget -->
                <div class="card my-2 my-md-4">
                    <h6 class="card-header py-2">
                        <a href="{% url 'voca:level-list' %}">
                            {% trans "level" %}
                        </a>
                    </h6>
                    <div class="card-body pt-1 pb-0">
                        <ul class="pl-3 mb-0">
                            <li class="mb-1">
                                <a href="{% url 'voca:level-entry-list' 'beginner' %}">
                                    {% trans "beginner" %}
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="{% url 'voca:level-entry-list' 'intermediate' %}">
                                    {% trans "intermediate" %}
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="{% url 'voca:level-entry-list' 'advanced' %}">
                                    {% trans "advanced" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Textbook Widget -->
                <div class="card my-2 my-md-4">
                    <h6 class="card-header py-2">
                        <a href="{% url 'voca:textbook-list' %}">
                            {% trans "textbooks" %}
                        </a>
                    </h6>
                    <div class="card-body pt-1 pb-0">
                        <ul class="pl-3 mb-0">
                            {% get_textbooks 10 as textbooks %}
                            {% for textbook in textbooks %}
                                <li class="mb-1">
                                    <a href="{% url 'voca:textbook-entry-list' textbook.slug %}">
                                        {{ textbook.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li class="mb-1">
                                    {% trans "No textbook" %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}