{% extends "./2_columns.html" %}
{% load i18n %}
{% load voca_tags %}

{% block main_content %}
    <div class="row my-2 mt-md-4">
        <div class="col-md-2">
            <h4 class="mt-md-2">
                <a href="{% url 'voca:category-list' %}">
                    {% trans "Vocabulary" %}
                </a>
            </h4>
        </div>
        <div class="col-md-10">
            <form action="{% url 'voca:entry-list' %}" method="get" class="input-group mt-md-1">
                {{ search_form.q }}
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </form>
        </div>
    </div>

    <div class="card my-1 my-md-3">
        <div class="card-body pt-1 pb-0">
            <ul class="pl-3 mb-0">
                {% voca_categories %}
                    <li class="mb-1">
                        <a href="{% url 'voca:entry-category' category.slug %}">{{ category.title }}</a>
                    </li>
                    {% if not category.is_leaf_node %}
                        <ul class="pl-3">
                            {{ children }}
                        </ul>
                    {% endif %}
                {% end_voca_categories %}
            </ul>
        </div>
    </div>
{% endblock %}