{% extends "./2_columns.html" %}
{% load i18n %}

{% block main_content %}
    <div class="row my-2 my-md-4">
        <div class="col-md-2">
            <h4 class="mt-md-2">
                <a href="{% url 'voca:entry-list' %}">
                    {% trans "Vocabulary" %}
                </a>
            </h4>
        </div>
        <div class="col-md-10">
            <form action="{% url 'voca:entry-list' %}" method="get" class="input-group mt-md-1">
                {{ search_form.q }}
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </form>
        </div>
    </div>

    <div class="row my-2">
        <div class="col thai-font">
            {% if request.user.is_superuser %}
                <a href="{% url 'admin:voca_entry_change' entry.id %}">{{ entry.title }}</a>
            {% else %}
                {{ entry.title }}
            {% endif %}
        </div>
    </div>

    <div class="row my-2">
        <div class="col-md-2">발음</div>
        <div class="col-md-10 thai-font">{{ entry.pronunciation }}</div>
    </div>
    {% for meaning in entry.meanings.all %}
        <div class="row my-2">
            <div class="col-md-2">{{ meaning.get_part_display }}</div>
            <div class="col-md-10">{{ meaning.meaning }}</div>
        </div>
    {% endfor %}
    {% if entry.description %}
        <div class="row my-2">
            <div class="col-md-2">{% trans "description" %}</div>
            <div class="col-md-10 thai-font">{{ entry.description }}</div>
        </div>
    {% endif %}
    {% for component in entry.relationships.all %}
        {% if forloop.first %}
            <div class="row mt-4 mb-2">
                <div class="col">구성 단어</div>
            </div>
        {% endif %}
        <div class="row my-2">
            <div class="col-md-2 thai-font">
                <a href="{% url 'voca:entry-detail' component.pk %}">
                    {{ component.title }}
                </a>
            </div>
            <div class="col-md-2 thai-font">
                {{ component.pronunciation }}
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    {% for meaning in component.meanings.all %}
                        <li class="mb-2">{{ meaning.get_part_display }} - {{ meaning.meaning }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

    {% for sentence in entry.to_sentence_entry.all %}
        {% if forloop.first %}
            <div class="row mt-4 mb-2">
                <div class="col">예문</div>
            </div>
        {% endif %}
        <div class="row my-2">
            <div class="col thai-font">
                {{ sentence.from_sentence }}
            </div>
        </div>
    {% endfor %}
{% endblock %}