{% extends "./2_columns.html" %}
{% load i18n %}

{% block main_content %}
    <div class="row my-4">
        <div class="col-md-2">
            <h4 class="mt-md-2">
                <a href="{% url 'voca:entry-list' %}">
                    {% trans "Vocabulary" %}
                </a>
            </h4>
        </div>
        <div class="col-md-10">
            <form action="" method="get" class="input-group mt-md-1">
                <input name="keyword" placeholder="검색" id="id_keyword" required="" class="form-control" type="text">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col thai-font">
            {{ entry.title }}
        </div>
    </div>

    <div class="row my-2">
        <div class="col-md-3">발음</div>
        <div class="col-md-9 thai-font">{{ entry.pronunciation }}</div>
    </div>
    {% for meaning in entry.meanings.all %}
        <div class="row my-2">
            <div class="col-md-3">{{ meaning.get_part_display }}</div>
            <div class="col-md-9">{{ meaning.meaning }}</div>
        </div>
    {% endfor %}
    {% for component in entry.relationships.all %}
        {% if forloop.first %}
            <div class="row mt-4 mb-2">
                <div class="col">구성 단어</div>
            </div>
        {% endif %}
        <div class="row my-2">
            <div class="col-md-3 thai-font">
                <a href="{% url 'voca:entry-detail' component.pk %}">
                    {{ component.title }}
                </a>
            </div>
            <div class="col-md-9"></div>
        </div>
    {% endfor %}
{% endblock %}