{% extends "./2_columns.html" %}
{% load i18n %}

{% block main_content %}
    <div class="row my-2 mt-md-4">
        <div class="col-md-2">
            <h4 class="mt-md-2">
                <a href="{% url 'voca:entry-list' %}">
                    {% trans "Vocabulary" %}
                </a>
            </h4>
        </div>
        <div class="col-md-10">
            <form action="{% url 'voca:entry-list' %}" method="get" class="input-group mt-md-1">
                {{ search_form.q }}
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </form>
        </div>
    </div>

    <div class="row mb-1 mb-md-3">
        <div class="col-md-10 offset-md-2">
            <form action="{% url 'voca:level-entry-list' level %}" method="get" class="input-group">
                <div class="input-group-prepend">
                    <a href="{% url 'voca:level-entry-list' level %}" class="btn btn-outline-dark">전체목록</a>
                </div>
                {{ part_filter_form.part }}
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fa fa-filter"></i>
                    </button>
                </span>
            </form>
        </div>
    </div>

    {% for entry in entries %}
        <div class="row pb-1{% if not forloop.first %} pt-2 border-top{% endif %}{% if forloop.last %} mb-1 mb-md-3{% endif %}">
            <div class="col-md-5 thai-font">
                <a href="{% url 'voca:entry-detail' pk=entry.pk %}">
                    {{ entry.title }}
                </a>
            </div>
            <div class="col-md-7">
                <ul class="list-unstyled mb-0">
                    {% for meaning in entry.meanings.all %}
                        <li{% if not forloop.last %} class="mb-2"{% endif %}>
                            {{ meaning.get_part_display }} - {{ meaning.meaning }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <!-- Pagination -->
    {% include './_pagination.html' with page_obj=page_obj page_range=page_range %}
{% endblock %}