{% extends "rakmai/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}
    <div class="container">
        <h5 class="my-2 my-md-4 text-center">
            {% trans "Sign In" %}
        </h5>
        <div class="row mb-4">
            <div class="col col-md-4 offset-md-4">
                <form class="form" id="signup_form" method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group">
                                {{ form.login.errors }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope-o fw"></i></span>
                                </div>
                                <input class="form-control"
                                       placeholder="{{ form.login.label }}"
                                       type="text"
                                       name="{{ form.login.name }}"
                                       id="{{ form.login.id_for_label }}"
                                       {% if form.login.value != None %}value="{{ form.login.value|stringformat:'s' }}"{% endif %}
                                       maxlength="{{ form.login.field.max_length }}"
                                       {% if form.login.field.required %}required{% endif %}>
                                {{ form.login.help_text }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="input-group">
                                {{ form.password.errors }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key fw"></i></span>
                                </div>
                                <input class="form-control"
                                       placeholder="{{ form.password.label }}"
                                       type="password"
                                       name="{{ form.password.name }}"
                                       id="{{ form.password.id_for_label }}"
                                       {% if form.password.value != None %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}
                                       maxlength="{{ form.password.field.max_length }}"
                                       {% if form.password.field.required %}required{% endif %}>
                                {{ form.password.help_text }}
                            </div>
                        </div>
                    </div>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn btn-block btn-primary" type="submit">
                        {% trans "Sign In" %}
                    </button>
                </form>
                <div class="row my-1 my-md-3">
                    <div class="col-sm-12 text-center text-md-left col-md-5 order-1 order-md-2">
                        <h5 class="mt-md-2">SNS 로그인</h5>
                    </div>
                    <div class="col-sm-12 text-center text-md-left col-md-7 order-2 order-md-1">
                        <a class="" href="">
                            <img class="sns-login-button rounded" src="{% static "images/sns/login/naver.png" %}">
                        </a>
                        <a class="ml-2" href="">
                            <img class="sns-login-button rounded" src="{% static "images/sns/login/kakao.png" %}">
                        </a>
                        <a class="ml-2" href="">
                            <img class="sns-login-button rounded" src="{% static "images/sns/login/facebook.png" %}">
                        </a>
                        <a class="ml-2" href="">
                            <img class="sns-login-button rounded border border-info"
                                 src="{% static "images/sns/login/google.png" %}">
                        </a>
                    </div>
                </div>
                <a href="{% url 'account_reset_password' %}"
                   class="btn btn-block btn-outline-secondary my-3">
                    {% trans "Forgot Password?" %}
                </a>
                <hr>
                <a href="{{ signup_url }}"
                   class="btn btn-block btn-info my-3">
                    {% trans "Sign Up" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
