{% extends "rakmai/base.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
        <h5 class="my-2 my-md-4 text-center">
            {% trans "Sign Out" %}
        </h5>
        <div class="row mb-4">
            <div class="col col-md-4 offset-md-4">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-block btn-warning">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}