{% extends "rakmai/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
    <div class="container">
        <h5 class="my-2 my-md-4 text-center">
            {% trans "Password Reset" %}
        </h5>
        <div class="row mb-4">
            <div class="col col-md-6 offset-md-3">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    비밀번호가 기억나지 않으면 가입하신 이메일 주소로 비밀번호 초기화 이메일을 발송합니다.
                </p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    <div class="form-group row">
                        <div class="col-12">
                            {{ form.email.errors }}
                            <input class="form-control"
                                   placeholder="{{ form.email.label }}"
                                   type="text"
                                   name="{{ form.email.name }}"
                                   id="{{ form.email.id_for_label }}"
                                   {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
                                   maxlength="{{ form.email.field.max_length }}"
                                   {% if form.email.field.required %}required{% endif %}>
                            {{ form.email.help_text }}
                        </div>
                    </div>
                    <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-block btn-secondary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

