{% extends "rakmai/base.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
        <h5 class="my-2 my-md-4 text-center">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
        </h5>
        <div class="row mb-4">
            <div class="col col-md-6 offset-md-3">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>
                        잘못된 비밀번호 초기화 링크입니다.
                    </p>
                    <p>
                        <a href="{{ passwd_reset_url }}">비밀번호 초기화 이메일 재요청</a>
                    </p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                            {% endfor %}
                            <div class="form-group row">
                                <label for="{{ form.password1.id_for_label }}"
                                       class="ml-1 ml-md-0 col-12 col-md-4 col-form-label">
                                    {{ form.password1.label }}
                                </label>
                                <div class="col-12 col-md-8">
                                    {{ form.password1.errors }}
                                    <input class="form-control"
                                           placeholder="{{ form.password1.label }}"
                                           type="password"
                                           name="{{ form.password1.name }}"
                                           id="{{ form.password1.id_for_label }}"
                                           {% if form.password1.value != None %}value="{{ form.password1.value|stringformat:'s' }}"{% endif %}
                                           maxlength="{{ form.password1.field.max_length }}"
                                           {% if form.password1.field.required %}required{% endif %}>
                                    {{ form.password1.help_text }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="{{ form.password2.id_for_label }}"
                                       class="ml-1 ml-md-0 col-12 col-md-4 col-form-label">
                                    {{ form.password2.label }}
                                </label>
                                <div class="col-12 col-md-8">
                                    {{ form.password2.errors }}
                                    <input class="form-control"
                                           placeholder="{{ form.password2.label }}"
                                           type="password"
                                           name="{{ form.password2.name }}"
                                           id="{{ form.password2.id_for_label }}"
                                           {% if form.password2.value != None %}value="{{ form.password2.value|stringformat:'s' }}"{% endif %}
                                           maxlength="{{ form.password2.field.max_length }}"
                                           {% if form.password2.field.required %}required{% endif %}>
                                    {{ form.password2.help_text }}
                                </div>
                            </div>
                            <input class="btn btn-block btn-default"
                                    type="submit" name="action" value="비밀번호 초기화"/>
                        </form>
                    {% else %}
                        <p>비밀번호를 변경했습니다.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
