{% extends "rakmai/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}
    <div class="container">
        <h5 class="my-2 my-md-4 text-center">
            {% trans "Password Reset" %}
        </h5>
        <div class="row mb-4">
            <div class="col col-md-6 offset-md-3">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    비밀번호 초기화 이메일을 발송했습니다.
                </p>
                <p>
                    5분 후에도 받지 못하면 help@withthai.com 이메일 주소로 연락바랍니다.
                </p>
            </div>
        </div>
    </div>
{% endblock %}