{% extends "rakmai/base.html" %}

{% load i18n %}
{% load book_tags %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Sidebar Widgets Column -->
            <div class="col-12 col-md-3">
                <div class="card my-2 my-md-4">
                    <h6 class="card-header py-2">
                        분류
                        <a href="#collapse0" data-toggle="collapse" class="ml-2" id="collapseLink0">
                            <i class="fa fa-plus fa-fw"></i>
                        </a>
                    </h6>
                    <div class="card-body pt-1 pb-0" id="collapse0">
                        <ul class="pl-3 mb-0">
                            {% article_categories category_slug %}
                                <li class="mb-1 mb-md-2">
                                    <a href="{% url 'book:article-category-list' category_slug category.slug %}">
                                        {{ category.title }}
                                    </a>
                                </li>
                                {% if not category.is_leaf_node %}
                                    <ul class="pl-3 mb-0">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            {% end_article_categories %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9 book-page">
                {% block main_content %}{% endblock %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}