{% load i18n %}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-0 mb-1 my-md-4 py-1">
                <li class="breadcrumb-item"><a href="{% url 'book:book-list' %}">{% trans "books" %}</a></li>
                {% for crumb in breadcrumbs %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'book:article-category-list' category_slug crumb.slug %}">{{ crumb.title }}</a>
                    </li>
                {% endfor %}
                <li class="breadcrumb-item active">{{ article.title }}</li>
            </ol>
        </nav>
    </div>
</div>