{% extends "./2_columns_article.html" %}

{% load i18n %}
{% load static %}
{% load rakmai_filters %}
{% load book_tags %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static "js/replace-article-thai.js" %}"></script>
{% endblock %}

{% block main_content %}
    {% get_article_ancestor_path article.category.id as breadcrumbs %}
    {% include "./_breadcrumbs_article.html" with breadcrumbs=breadcrumbs %}

    <h5 class="my-3 mt-md-1 pb-1 border-bottom border-secondary">
        {% if request.user.is_superuser %}
            <span class="btn btn-outline-success btn-sm mb-1 mr-2">{{ article.category }}</span>
            <a href="{% url 'book:article-update' category_slug article.id %}">{{ article.title }}</a>
            <a href="{% url 'admin:book_article_delete' article.id %}"
               class="btn btn-outline-danger btn-sm mb-1 ml-2">
                <i class="fa fa-trash fa-fw"></i> {% trans "Delete Article" %}
            </a>
        {% else %}
            {{ article.title }}
        {% endif %}
    </h5>

    {% if article.youtube %}
        <div class="row my-1">
            <div class="col">
                <p class="youtube">
                    <iframe src="{{ article.youtube }}" frameborder="0" allowfullscreen></iframe>
                </p>
            </div>
        </div>
    {% endif %}

    <div class="row my-1">
        <div class="col paragraph thai-font" id="content1">
            {{ article.content|markdownify }}
        </div>
    </div>

    {% if article.content1 %}
        <h5 class="my-2 pb-2 border-bottom border-secondary">문법 및 표현</h5>
        <div class="row my-1 my-md-3">
            <div class="col paragraph" id="content2">
                {{ article.content1|markdownify }}
            </div>
        </div>
    {% endif %}

    {% if article.content2 %}
        <h5 class="my-2 pb-2 border-bottom border-secondary">
            본문 해석
            <small>[의역]</small>
        </h5>
        <div class="row my-1 my-md-3">
            <div class="col paragraph" id="content3">
                {{ article.content2|markdownify }}
            </div>
        </div>
    {% endif %}
    <hr>
    <div class="row my-1 my-md-3">
        <div class="col text-right mr-2">
            {% trans "last modified" %}: {{ article.updated }}
        </div>
    </div>
    <a href="{% url 'book:article-list' category_slug %}?page={{ request.GET.page }}"
       class="btn btn-outline-secondary btn-block my-2">
        <i class="fa fa-list-ul fa-fw" aria-hidden="true"></i>&nbsp;{% trans "List" %}
    </a>
{% endblock %}