{% extends "./2_columns_book.html" %}

{% load i18n %}
{% load rakmai_filters %}
{% load book_tags %}

{% block main_content %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-0 mb-1 my-md-4 py-1">
                    <li class="breadcrumb-item"><a href="{% url 'book:book-list' %}">{% trans "books" %}</a></li>
                    <li class="breadcrumb-item active">{{ book.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col paragraph">
            <div class="pl-2">
                {{ book.description|markdownify }}
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col">
            <ul>
                {% if user.is_superuser %}
                    <li class="my-1">{% trans "status" %}: {{ book.get_status_display }}</li>
                {% endif %}
                <li class="my-1">{% trans "license" %}: {{ book.get_license_display }}</li>
                <li class="my-1">{% trans "updated date" %}: {{ book.updated|date:'Y.m.d H:i' }}</li>
            </ul>
        </div>
    </div>
{% endblock %}