{% extends "./2_columns.html" %}
{% load i18n %}
{% load book_tags %}

{% block main_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 mt-md-4">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <div class="row my-2 my-md-4">
        <div class="col">
            <h5 class="mt-md-2">
                {{ book.title }}
            </h5>
        </div>
    </div>
{% endblock %}