{% extends "rakmai/base.html" %}
{% load i18n %}
{% load book_tags %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Sidebar Widgets Column -->
            <div class="col-12 col-md-4">
                <div class="card my-2 my-md-4">
                    <h5 class="card-header">{{ book.title }}</h5>
                    <div class="card-body">
                        <h5 class="card-title text-center mb-1 mb-md-3">목차</h5>
                        <ol class="pl-3 mb-0">
                            {% book_toc book %}
                                <li class="mb-1">
                                    <a href="">{{ category.title }}</a>
                                </li>
                                {% if not category.is_leaf_node %}
                                    <ol class="pl-3">
                                        {{ children }}
                                    </ol>
                                {% endif %}
                            {% end_book_toc %}
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                {% block main_content %}{% endblock %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}