{% extends "./2_columns_book.html" %}

{% load i18n %}
{% load rakmai_filters %}
{% load book_tags %}

{% block main_content %}
    {% get_page_ancestor_path page.id as breadcrumbs %}
    {% include "./_breadcrumbs_book.html" with breadcrumbs=breadcrumbs %}
    <h5 class="my-1">
        {% if request.user.is_superuser %}
            <a href="{% url 'book:page-update' book.slug page.id %}">{{ page.title }}</a>
            <a href="{% url 'admin:book_page_delete' page.id %}"
               class="btn btn-outline-danger btn-sm mb-1 ml-2">
                <i class="fa fa-trash fa-fw"></i> {% trans "Delete Page" %}
            </a>
        {% else %}
            {{ page.title }}
        {% endif %}
    </h5>
    <div class="row my-1 my-md-3">
        <div class="col paragraph">
            {{ page.content|markdownify }}
        </div>
    </div>

    {% if page.content1 %}
        <h5 class="my-1 my-md-3">문법 및 표현</h5>
        <div class="row my-1 my-md-3">
            <div class="col paragraph">
                {{ page.content1|markdownify }}
            </div>
        </div>
    {% endif %}

    {% if page.content2 %}
        <h5 class="my-1 my-md-3">본문 해석</h5>
        <div class="row my-1 my-md-3">
            <div class="col paragraph">
                {{ page.content2|markdownify }}
            </div>
        </div>
    {% endif %}
    <div class="row my-1 my-md-3">
        <div class="col text-right mr-2">
            {% trans "last modified" %}: {{ page.updated }}
        </div>
    </div>
    <hr class="mb-0">
    <div class="row my-1">
        <div class="col">
            {% get_adjacent_pages book.id page.id as adjacent_pages %}
            <ul class="list-unstyled">
                {% if adjacent_pages.previous_page %}
                    <li class="my-2">{% trans "Previous Page" %}:
                        <a href="{% url 'book:page-detail' book.id adjacent_pages.previous_page.id %}">
                            {{ adjacent_pages.previous_page }}
                        </a>
                    </li>
                {% else %}
                    <li class="my-2">{% trans "Previous Page" %}:
                        <a href="{% url 'book:book-detail' book.id %}">
                            {{ book.title }}
                        </a>
                    </li>
                {% endif %}
                {% if adjacent_pages.next_page %}
                    <li class="my-2">{% trans "Next Page" %}:
                        <a href="{% url 'book:page-detail' book.id adjacent_pages.next_page.id %}">
                            {{ adjacent_pages.next_page }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}