{% extends "rakmai/base.html" %}

{% load i18n %}
{% load rakmai_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h5 class="my-2 my-md-4 text-center">
            {% trans "Write New Page" %}
            <small>- {{ book.title }}</small>
        </h5>
        <div class="row">
            <div class="col">
                {% crispy form %}
            </div>
        </div>
        <a href="{% url 'book:book-detail' book.id %}"
           class="btn btn-outline-secondary btn-block">
            <i class="fa fa-list-ul fa-fw" aria-hidden="true"></i>&nbsp;{% trans "List" %}
        </a>
    </div>
{% endblock %}