{% extends "./2_columns.html" %}
{% load i18n %}
{% load book_tags %}

{% block main_content %}
    {% get_ancestor_path page.id as breadcrumbs %}
    {% include "./_breadcrumbs.html" with breadcrumbs=breadcrumbs %}
    <h5 class="my-1">
        {% if request.user.is_superuser %}
            <a href="{% url 'admin:book_page_change' page.id %}">
                {{ page.title }}
            </a>
        {% else %}
            {{ page.title }}
        {% endif %}
    </h5>
    <div class="row my-1 my-md-3">
        <div class="col paragraph">
            {{ page.content }}
        </div>
    </div>

    {% if page.content1 %}
        <h5 class="my-1 my-md-3">문법 및 표현</h5>
        <div class="row my-1 my-md-3">
            <div class="col paragraph">
                {{ page.content1 }}
            </div>
        </div>
    {% endif %}

    {% if page.content2 %}
        <h5 class="my-1 my-md-3">본문 해석</h5>
        <div class="row my-1 my-md-3">
            <div class="col paragraph">
                {{ page.content2 }}
            </div>
        </div>
    {% endif %}
{% endblock %}