<!doctype html>
<html class="no-js" lang="ko">
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-comptible" content="ie=edge">
    <title>{{ page_title }} : {% trans "WITHTHAI" %}</title>
    {% if page_meta_description %}
        <meta name="description" content="{{ page_meta_description }}">
    {% else %}
        <meta name="description" content="위드타이, 모두의 태국어">
    {% endif %}
    {% if page_meta_keywords %}
        <meta name="keywords" content="{{ page_meta_keywords }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block stylesheet %}{% endblock %}
    {{ form.media.css }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-122152735-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-122152735-1');
    </script>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">
You are using an <strong>outdated</strong> browser.
Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
</p>
<![endif]-->

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">{% trans "WITHTHAI" %}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% trans "Thai Language" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="{% url 'voca:entry-list' %}">
                            {% trans "Vocabulary" %}
                        </a>
                        <a class="dropdown-item" href="{% url 'book:book-detail' '태국어-성조법' %}">성조법 기초</a>
                        <a class="dropdown-item" href="{% url 'book:book-detail' '구문-패턴-연습' %}">구문 및 패턴 연습</a>
                        <a class="dropdown-item" href="{% url 'book:book-detail' '태국어-문법' %}">태국어 문법</a>
                        <a class="dropdown-item" href="{% url 'book:book-detail' '표현-어구' %}">표현 및 어구</a>
                        <a class="dropdown-item" href="{% url 'book:book-detail' '주제별-회화' %}">주제별 회화</a>
                        <a class="dropdown-item" href="{% url 'book:article-list' '유튜브' %}">유튜브</a>
                        <a class="dropdown-item" href="{% url 'book:article-list' '독해' %}">독해</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        커뮤니티
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="">자유게시판</a>
                        <a class="dropdown-item" href="">묻고답하기</a>
                        <a class="dropdown-item" href="">사진게시판</a>
                        <a class="dropdown-item" href="{% url 'help:notice-list' %}">공지사항</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">블로그</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">
                            <i class="fa fa-user-plus fa-fw"></i>
                            {% trans "Sign Up" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">
                            <i class="fa fa-sign-in fa-fw"></i>
                            {% trans "Sign In" %}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user fa-fw"></i>
                            {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownBlog">
                            {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">
                                    {% trans "Admin" %}
                                </a>
                            {% endif %}
                            <a class="dropdown-item" href="">{% trans "Profile" %}</a>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">
                                {% trans "Sign Out" %}
                            </a>
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
{% if messages %}
    <div class="d-none">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% block content %}body content{% endblock %}

<footer class="footer outer-footer">
    <div class="container mt-1">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 d-flex-inline d-flex order-1 order-md-2">
                <a href="#" target="_blank" class="ml-2">
                    <i class="fa fa-youtube-square fa-2x button-youtube"></i>
                </a>
                <a href="#" target="_blank" class="ml-2">
                    <i class="fa fa-facebook-square fa-2x button-facebook"></i>
                </a>
                <a href="#" target="_blank" class="ml-2">
                    <i class="fa fa-twitter-square fa-2x button-twitter"></i>
                </a>
                <a href="//github.com/pincoin/withthai" target="_blank" class="ml-2">
                    <i class="fa fa-github-square fa-2x button-github"></i>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-10 d-flex flex-row flex-wrap order-2 order-md-1">
                <div class="pt-1 px-2">
                    <strong>
                        <a href="{% url 'help:post-detail' 'about' %}">{% trans "WITHTHAI" %}</a>
                    </strong>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'help:post-detail' 'user-guide' %}">이용안내</a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'help:post-detail' 'terms' %}">이용약관</a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'help:post-detail' 'privacy' %}">개인정보처리방침</a>
                </div>
                <div class="pt-1 px-2">
                    <a href="{% url 'help:post-detail' 'services' %}">유료서비스</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid base-footer">
        <div class="container">
            <div class="row py-2">
                <div class="col text-center">Copyright &copy; 2018 withthai.com</div>
            </div>
        </div>
    </div>
</footer>

<script async src="//code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-3.3.1.min.js" %}"><\/script>')</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script async src="{% static "js/plugin.js" %}"></script>
<script async src="{% static "js/main.js" %}"></script>
{% block javascript %}{% endblock %}
{{ form.media.js }}
</body>
</html>
