{% extends "./base.html" %}

{% load i18n %}
{% load help_tags %}
{% load board_tags %}
{% load book_tags %}

{% block content %}
    <div class="container">
        <header class="jumbotron my-2 my-md-3 py-1 py-md-4">
            <h3 class="display-5 text-light mb-3">위드타이 (2018.8.8 오픈)</h3>
            <p class="jumbotron-text p-3 lead text-light">
                모두의 태국어<br/>
                누구나 쉽고 빠르게 재밌게 태국어를 배웁니다.<br/>
                쉬운 내용부터 중고급 내용까지 다룹니다.<br/>
            </p>
        </header>

        <!-- 게시물 목록 -->
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <h5 class="card-header py-md-2">
                        <a href="{% url 'board:message-list' 'free' %}">자유게시판</a>
                    </h5>
                    <div class="card-body py-1">
                        <ul class="list-unstyled mb-0">
                            {% get_messages 'free' 5 as free_messages %}
                            {% for message in free_messages %}
                                <li class="my-1">
                                    <a href="{% url 'help:notice-detail' message.id %}">
                                        {{ message.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li class="my-1">
                                    {% trans "No message" %}
                                </li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <h5 class="card-header py-md-2">
                        <a href="{% url 'board:message-list' 'qna' %}">묻고답하기</a>
                    </h5>
                    <div class="card-body py-1">
                        <ul class="list-unstyled mb-0">
                            {% get_messages 'qna' 5 as qna_messages %}
                            {% for message in qna_messages %}
                                <li class="my-1">
                                    <a href="{% url 'help:notice-detail' message.id %}">
                                        {{ message.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li class="my-1">
                                    {% trans "No message" %}
                                </li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <h5 class="card-header py-md-2">
                        <a href="{% url 'help:notice-list' %}">
                            공지사항
                        </a>
                    </h5>
                    <div class="card-body py-1">
                        <ul class="list-unstyled mb-0">
                            {% get_notice as notice_messages %}
                            {% for message in notice_messages %}
                                <li class="my-1">
                                    <a href="{% url 'help:notice-detail' message.id %}">
                                        {{ message.title }}
                                    </a>
                                </li>
                            {% empty %}
                                <li class="my-1">
                                    {% trans "No message" %}
                                </li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                                <li class="my-1">&nbsp;</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="mt-md-2 mb-md-3 pl-md-3">태국어 학습</h5>
        <div class="row">
            {% get_books 4 as books %}
            {% for book in books %}
                <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-4">
                    <div class="card h-100">
                        <div class="card-body py-1 py-md-2">
                            <h5 class="card-title text-center mb-1 mb-md-3">
                                <a href="{% url 'book:book-detail' book.slug %}">
                                    {{ book.title }}
                                </a>
                            </h5>
                            <p class="card-text paragraph">
                                {{ book.description|truncatechars:35 }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.container -->
{% endblock %}