{% extends "./base.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-2 my-md-3 py-1 py-md-4">
            <h3 class="display-5 text-light mb-3">위드타이 (2018.8.8 오픈 예정)</h3>
            <p class="jumbotron-text p-3 lead text-light">
                누구나 쉽고 빠르게 재밌게 태국어를 배웁니다.<br/>
                쉬운 내용부터 중고급 내용까지 다룹니다.<br/>
                현지 태국어를 중심으로 실용적인 내용으로 배웁니다.<br/>
            </p>
        </header>

        <!-- 게시물 목록 -->
        <div class="row">
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <h5 class="card-header py-md-2">자유게시판</h5>
                    <div class="card-body py-1">
                        <ul class="list-unstyled mb-0">
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <h5 class="card-header py-md-2">묻고답하기</h5>
                    <div class="card-body py-1">
                        <ul class="list-unstyled mb-0">
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="card h-100">
                    <h5 class="card-header py-md-2">공지사항</h5>
                    <div class="card-body py-1">
                        <ul class="list-unstyled mb-0">
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                            <li class="my-1">
                                Lorem ipsum dolor sit amet, consectetur
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h5 class="mt-md-2 mb-md-3 pl-md-3">사진 게시판</h5>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-2 px-md-3">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="//placehold.it/700x400" alt=""></a>
                    <div class="card-body py-1 py-md-2">
                        <h5 class="card-title mb-1">
                            <a href="#">Project One</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-2 px-md-3">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="//placehold.it/700x400" alt=""></a>
                    <div class="card-body py-1 py-md-2">
                        <h5 class="card-title mb-1">
                            <a href="#">Project One</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-2 px-md-3">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="//placehold.it/700x400" alt=""></a>
                    <div class="card-body py-1 py-md-2">
                        <h5 class="card-title mb-1">
                            <a href="#">Project One</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-2 px-md-3">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="//placehold.it/700x400" alt=""></a>
                    <div class="card-body py-1 py-md-2">
                        <h5 class="card-title mb-1">
                            <a href="#">Project One</a>
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}